<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AMMonitoringTool.Properties.Settings.DSME_AM_ProjectListConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Q:\AMSTD\DsmeDef\Gene\DSME_AM_ProjectList.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>

  <appSettings>
    <add key="AMLicensePath" value="AMLICPAP01;AMLICPAP02;AMLICPAP03;AMLICPAP04;AMLICPAP05;" />
    
  </appSettings>
  
  
  
  
  
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
